.square {
    height: 100px;
    width: 100px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:focus {
        outline: none;
    }
}

.dark-square {
    background-color: RGB(187, 190, 100);
}

.light-square {
    background-color: RGB(234, 240, 206);
}